body{
	overflow-x:hidden;
	margin:0 auto;
}
.no-padding {
	padding: 0;
}

/* Slogan */


#slogan {
	background: #252525;
	padding:10px 0 8px ;
	
}	


.contactDetails  a{
	text-decoration:none;
	color:#929292;
	

}

.socialMedia ul li{
	list-style:none;
}
.socialMedia ul li a{
	color:#929292;
}

/*NAV BAR*/
.logo img{
	margin:0px 10px 10px 0px;
}
.navbar-default{
	background-color:transparent;
	border-color:transparent;
	
}

.navbar-nav{
	font-family:Raleway;
	margin:20px 100px 0;
	text-transform: uppercase;
	font-size: 14x;
	
}

.navbar-default .navbar-nav li a{
	color:#000000;
	letter-spacing:3px;

}

.navbar-default .navbar-nav li a:hover{
	color:#c95d2f;
}
	
.navbar{
	margin-bottom:20px;
}

/*Header*/

.headerWrap{
	background:#d6d6d6;	
	margin-bottom:45px;
}

.headerWrap h1{
	font-family:arial;
	font-size:24px;
}

/*Dashboard*/

.dashboard_head{
	margin:0px;
}

.table_bg2 {
	background-color:#ffffff;
	border-top:10px solid #e6e6e6;
	border-left:10px solid #e6e6e6;
	border-right:10px solid #e6e6e6;	
}

#dashboard_icons .fa-home{
	font-size:5em;
}

#dashboard_icons .fa-check{
	font-size:5em;
}

#dashboard_icons .fa-list{
	font-size:4em;
}

#dashboard_icons .fa-file-text{
	font-size:4em;
}

#dashboard_icons .fa:hover{
	color:#c8592b
}

.black{
	color:#000;
}

#dashboard_icons a{
	text-decoration:none;
	color: #000;
}
#dashboard_wrap .Sucess p {
	font-size:12px;
	display:block;
	display: inline-block;
    background: #c8592b;
    color: #fff;
    padding: 2px 4px;
	margin-bottom:0px;
}

#dashboard_wrap .progress{
 box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
}

#dashboard_wrap .plus{
	padding-top:20px;
	
}

#dashboard_wrap .progress-bar{
	background-color:#c8592b;
	
}
#dashboard_wrap .progressBar{
	height:10px;
	margin-bottom:0;
	border-radius:0;
	
	
}


#dashboard_wrap.percent p {
	color:#285278;
	font-style: italic;
	font-weight:bold;
	font-size:10px;
	margin:0px;
}

#dashboard_wrap .table_bg {
	background-color:#f2f2f2;
	padding:0 4px;

	
}

#dashboard_wrap .table_border {
	background: #e6e6e6;
	padding:5px;
	margin-bottom:50px;
}

#dashboard_wrap .product_th{
	font-size:12;
	font-family:arial;
}

#dashboard_wrap.product_name p{
	font-size:12;
	font-family:arial;
	color:#4D4D4D;
	margin:0;
}
#dashboard_wrap .product_date p{
	font-size:10;
	font-family:arial;
	color:#C8592A;
	font-style:italic;
	margin:0;
}

#dashboard_wrap td.align_middle {  
	vertical-align: middle !important;
	font-size: 12px;
 }

#dashboard_wrap,
#dashboard_wrap tr,
#dashboard_wrap td,
#dashboard_wrap th 
	{
		border: 0;
	}

#dashboard_wrap .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#e6e6e6;
}
#dashboard_wrap.white_bg  {
	color:#f1f1f1;
	background:#cccccc;
	padding:4px;
}

 /**********end of dashboard*********/


/*shop_page*/



.shop_page h2{
	border: 1px solid #000000;
	padding:15px;
}

.Wrap_iconPage{
	background:#c7582a;
	padding:15px;
	display:block;
}


.Wrap_iconPage2{
	background:#141c4a;
	padding:15px;
	display:block;
}


.Wrap_iconPagea a:hover{
	background:red;
	padding:15px;
	display:block;

}
.Wrap_iconPage,fa{
	display:block;
	color:#ffffff;

}

.shop_page{
	margin-bottom:90px;
}


 /**********end of shop page*********/


/*product status*/


#prod-status .plus{
	padding-top:20px;
	
}

#prod-status .progress-bar{
	background-color:#c8592b;
	
}
#prod-status .progressBar{
	height:10px;
	margin-bottom:0;
	border-radius:0;
	
	
}


#prod-status .percent p {
	color:#285278;
	font-style: italic;
	font-weight:bold;
	font-size:10px;
	margin:0px;
}

#prod-status .table_bg {
	background-color:#f2f2f2;
	padding:0 4px;

	
}

#prod-status .table_border {
	background: #e6e6e6;
	padding:10px;
	margin-bottom:100px;
}

#prod-status .product_th{
	font-size:12;
	font-family:arial;
}

#prod-status .product_name p{
	font-size:12;
	font-family:arial;
	color:#4D4D4D;
	margin:0;
}
#prod-status .product_date p{
	font-size:10;
	font-family:arial;
	color:#C8592A;
	font-style:italic;
	margin:0;
}

td.align_middle {  
	vertical-align: middle !important;
 }

#prod-status,
#prod-status tr,
#prod-status td,
#prod-status th 
	{
		border: 0;
	}

#prod-status .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#e6e6e6;
}

#prod-status.white_bg  {
	color:#f1f1f1;
	background:#cccccc;
	padding:4px;
}

#prod-status a.btn.folder.btn-default:before {
    content: "\f07b";
    font-family: "FontAwesome";
    padding-right: 3px;
}

#prod-status a.btn.wrench.btn-default:before {
    content: "\f019";
    font-family: "FontAwesome";
    padding-right: 3px;
}
#prod-status a.btn.check.btn-default:before {
    content: "\f00c";
    font-family: "FontAwesome";
    padding-right: 3px;
}

#prod-status.btn-group-xs>.btn, .btn-xs{
	border-radius:0;
	border:0;
}

#prod-status .btfn-default, .orange{
	background:#c8592b;
	color:#ffffff;	
}

#prod-status .btfn-default, .blue{
	background:#285278;
	color:#ffffff;	
}


#prod-status .product_delete a{
	color:#666666;
}
#prod-status .product_delete a:hover{
	color:#000000;
}

#prod-status .btn-default:hover{
    background-color:#252525;
	color:#FFFFFF;
}


 
 /**********end of product status*********/
 
 
  /**********Product Details********/


#property_detailsTabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    color:#c8592b !important;
}

#property_detailsTabs, /*modal tabs*/
#tab_login .nav li a {   
    padding: 5px 10px ;
}

#property_detailsTabs,
#tab_login .nav ul li a {
}

#property_detailsTabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
    color: #000000;
}
#property_detailsTabs .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
    color: #999;


}
	

 .carouselWrap{
	padding-top:30px;
}


#property_detailsTabs .glyphicon-chevron-left:before {
    content: "\e079";
    background: #000;
    padding:10px 13px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);

}


#property_detailsTabs  .glyphicon-chevron-right:before {
    content: "\e080";
    background: black;
    padding:10px 13px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
}

#quick_summary h2{
	color:#285377;
	font-size:42px;
	font-family:Ubuntu;
	font-weight:bold;
}

#quick_summary h5{
	color:#000000;
	font-size:24px;
	font-family:Ubuntu;
	font-weight:bold;
}
#quick_summary p{
	color:#676767;
	font-size:24px;
	font-family:Ubuntu;
	font-weight:normal;
}


#quick_summary .headWraps p{
	color:#285377;
	font-size:60px;
	font-family:Ubuntu;
	font-weight:bold;
}

#googleMaps h2{
	color:#285377;
	font-size:42px;
	font-family:Ubuntu;
	font-weight:bold;

}
#googleMaps{
	margin-bottom:100px;
}
 
.rightWrap{
	vertical-align:middle;
	display:inline-block;
}



/*calendar*/
#calendar_wrap{
	background:#e6e6e6;
	padding:10px;
	}
#calendar{
	margin-bottom:50px;
	background:#e6e6e6;
	padding:10px;
}

.fc-widget-header, .fc-widget-content {
    border: 1px solid #ddd;
    background: #ffffff;
}
.fc-grid th {
    color: #ffffff;
    background: #c8592b;
	font-weight:normal;
	line-height:30px;
	height:30px;

}


.fc-header{
    text-transform: capitalize;
}


.fc-header .fc-button {
    margin-bottom: 1em;
    vertical-align: top;
    border: 1px solid #666666;
}


.fc-state-down, .fc-state-active {
    background-color: #cccccc;
    box-shadow: none !important;
}

/*end of calendar*/



/*profile*/



#profile{
	background:#e6e6e6;
	padding:10px;
	margin-bottom:100px;
}

.profile_pic{
	border-top:10px #cf6330 solid;
	background:#f1f1f1;
	padding:10px;
}

.profile_picWrap{
	padding:10px;	
}

.profile_bg{
	padding:10px;	
	
}

#Profile .table_bg {
	background-color:#f2f2f2;
	padding:0 4px;
	min-height: 450px;


}


#Profile .align_middle {  
	vertical-align: middle !important;
 }


#Profile .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color:#e6e6e6;
}

#Profile .btn-default, .orange{
	background:#c8592b;
	color:#ffffff;	
}
#Profile .Profile_names p{
	margin-bottom:0px;
}

#Profile a.btn.wrench.btn-default:before {
    content: "\f0ad";
    font-family: "FontAwesome";
    padding-right: 3px;
}
.profile_pic p{
	margin-bottom:0px ;

}
.Profile_names{
	font-family:arial;
	font-size:12px;
}

#profile hr{
    border: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0; 
}

#profile .nav-pills{
	background:#285376;
}

#profile .nav-pills>li.active>a:after{
   content: "";
  position: absolute;
  top:35px; 
  left: 50%;
  margin-left: -4px;
  width: 0px; 
  height: 0px; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f2f2f2; 		
}

#profile .nav-pills>li.active>a{
    background-color: #c8592b;	
}

#profile .nav-pills>li>a {
    border-radius: 0;
	color:#fff;
}

#profile .nav-pills a:hover{
	background:#c8592b;
}

#profile .nav-pills a:focus{
	background:#c8592b;
}

#profile .nav-pills a:focus:after{
	background:#c8592b;
	content: "";
  position: absolute;
  top:35px;
  left: 50%;
  margin-left: -4px; 
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f2f2f2; 

}
#profile .nav-pills a:hover:after {
  content: "";
  position: absolute;
  top:35px;
  left: 50%;
  margin-left: -4px; 
  width: 0px; 
  height: 0px; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f2f2f2; 
}

#profile .col-md-9{
	padding:0px 0px 0px 10px;
}


#profile_table,
#profile_table tr,
#profile_table td,
#profile_table th 
	{
		border: 0;
	}

	
#profile .table-responsive {
	border:0px;
}

.active_wrap p{
	font-size:12px;
	display:block;
	display: inline-block;
    background: #c8592b;
    color: #fff;
    padding: 2px 4px;
	margin-bottom:0px;
	
}

/*shop cart*/	
#shop_cart{
	background:#e6e6e6;
	padding:10px;
	margin-bottom:10px;
}

#shop_cart,
#shop_cart tr,
#shop_cart td,
#shop_cart th 
	{
		border: 0;
	}

#shop_cart .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {

}


#shop_cart{
	background:green;
	padding:10px;
	margin-bottom:10px;
}


/*end of shop cart*/	




/*Footer*/

#footer{
	background: #252525;
	padding:60px 0 60px;
	color:#89878b;
}	

#footer h4{
	color:#89878b;
	font-weight:200;
	font-family:ubuntu;
}
#footer ul{
	list-style: none;
	padding-left: 0px;
	line-height: 30px;
}

#footer a{
	color:#89878b;
	text-decoration:none;
}

#footer p {
	padding:50px 0px 30px;
}


.edit {
	padding-top: 122px;	
	padding-right: 127px;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
}



.modal-footer-profile {
	padding:11px;
	border-top: 1px solid #e5e5e5;
	margin-left: 168px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    margin-right: 130px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-body .customBody {
	padding:0px;
}

.icon-bar {
    width: 90px;
    background-color: #ede3e3;
    position: fixed;
    z-index: 9;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 24px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.icon-bar .active {
    background-color: #B15022  !important;
}

.alt-color {
	background-color: #ca7129;
}

.Wrap_iconPage a:hover{
	color: #dce7f0 !important;
}
.Wrap_iconPage a{
	color: #dce7f0 !important;
}

.headerCont {
	height: 120px;
	width: 1170px;
	border: 1px solid black;
	position: relative;
	background-size: contain;
	margin-bottom: 10px;
	padding: 10px;
}

.imageCont {
	height: 600px;
	width: 1170px;
	margin-bottom: 10px;
	border:1px solid black;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 68%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
   
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

#showhere {
	padding: 10px;

}

#checkout {
	padding: 10px;

}

.labelForDetails {
	background-color: #ca7129;
	padding: 1px;
	padding-left: 13px;
	margin-bottom: 9px;
	color: white;
}

.thumb-dropdown .dropdown-menu > li {
    position: relative;
}
.thumb-dropdown .dropdown-menu > li > a .thumbnail {
    position: absolute; 
    left: 100%;
    top: -10px;
    display: none;    
    width: 350px;
    height: auto;
    margin-left: 5px;
}
.thumb-dropdown .dropdown-menu > li > a:hover .thumbnail  {
    display: block;    
}

.chtable {
	margin-left: 600px;
}

.customImage {
	height: 150px;
	margin:auto;
}

#formBody {
	display: none;
}
#formSuccess {
	display: none;
}

.customP {
	font-size: 11px;
	font-style: italic;
	color: #ca7129;
}

.cont {
	position: relative;
}

.overlay1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #0D180E;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity: .8
}

.cont:hover .overlay1 {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f9f4f4;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 15px;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.card-text {
	color: #32395c;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1.25rem
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8
}

.card-primary .card-footer,
.card-primary .card-header {
    background-color: transparent
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c
}

.card-success .card-footer,
.card-success .card-header {
    background-color: transparent
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de
}

.card-info .card-footer,
.card-info .card-header {
    background-color: transparent
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e
}

.card-warning .card-footer,
.card-warning .card-header {
    background-color: transparent
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f
}

.card-danger .card-footer,
.card-danger .card-header {
    background-color: transparent
}

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f
}

.card-inverse {
    color: rgba(255, 255, 255, .65)
}

.card-inverse .card-footer,
.card-inverse .card-header {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .2)
}

.card-inverse .card-blockquote,
.card-inverse .card-footer,
.card-inverse .card-header,
.card-inverse .card-title {
    color: #fff
}

.card-inverse .card-blockquote .blockquote-footer,
.card-inverse .card-link,
.card-inverse .card-subtitle,
.card-inverse .card-text {
    color: rgba(255, 255, 255, .65)
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
    color: #fff
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0
}

.card-img {
    border-radius: calc(.25rem - 1px)
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px)
}

.card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

@media (min-width:576px) {
    .card-deck {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
    .card-deck .card {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .card-deck .card:not(:first-child) {
        margin-left: 15px
    }
    .card-deck .card:not(:last-child) {
        margin-right: 15px
    }
}

@media (min-width:576px) {
    .card-group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }
    .card-group .card {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%
    }
    .card-group .card+.card {
        margin-left: 0;
        border-left: 0
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom,
    .card-group .card:not(:first-child):not(:last-child) .card-img-top {
        border-radius: 0
    }
}

@media (min-width:576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: .75rem
    }
}
.table-responsive {
    max-height:400px;
}

.custParagraph{
	text-transform: uppercase;

}

.counterUpCss {
	display: inline-block; 
	width: 32%;
	font-size: 30px;
}

